@import url('https://fonts.googleapis.com/css?family=Catamaran:300,900|Source+Sans+Pro');

html, body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


*, *:before, *:after{
	box-sizing: border-box;
	position: relative;
}

header{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:100%;
	min-height: 100vh;
	/*padding: 49px;*/
	background: url(assets/edit3.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
	/*background-position: center;*/
}

nav{ 
	height: 22px;
	margin-top: 20px;
}

nav ul{
	display: flex;
	justify-content: center;
	align-items: baseline;
	padding: 0;
}

nav ul li{
	display: inline;
	margin-left: 3%;
	margin-right: 3%;
	font-family: 'Catamaran', sans-serif;
	font-weight: 300;
	font-size: 19px;
	color: rgb(249, 249, 249);
	text-transform: uppercase;
	text-align: left;
	line-height: 22.8px;
	letter-spacing: 0em;
}

nav ul li:last-child{
	border-radius: 20px;
	border: solid rgb(249,249,249) 1px;
	padding: 10px;
}

.onda{
	margin-top: 20px;
	width: 105%;
}

header h1 {
	position: absolute;
	font-family:'Catamaran', sans-serif;
	font-weight: 900;
	font-size: 26px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: left;
	line-height: 31.2px;
	letter-spacing: 0em;
	top: 68%;
	left: 58%;
}

header h2 {
	position: absolute;
	font-family:'Catamaran', sans-serif;
	font-size: 23px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: left;
	line-height: 27.6px;
	letter-spacing: 0em;
	top: 78%;
	left: 58%;
}

.logo{
	position: absolute;
	bottom: 20px;
	right: 3%;
	width: 9%;
}

main{
	display: flex;
	flex-direction: column;
}
.sobre{
	background: url(assets/assets-02-desktop.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}

.fundosobre{
	position: absolute;
}

.sobre h2 {
	font-family:'Catamaran', sans-serif;
	font-size: 26px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: left;
	line-height: 31.2px;
	letter-spacing: 0em;
	padding-top: 12.5%;
	padding-left: 23%;
}

.sobre p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: rgb(255, 255, 255);
	font-style: normal;
	text-align: left;
	line-height: 24px;
	letter-spacing: 0em;
	padding-top: 10px;
	width: 60%;
	padding-left: 23%;
}

section{
	min-height: 100vh;
}

.atividades{
	background: purple;
	display: flex;
	flex-direction: column;
}

.atividade1{
	padding-left: 29%;
	margin-top: 63px;
}

.atividade1 h2{
	font-family:'Catamaran', sans-serif;
	font-size: 26px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: left;
	line-height: 31.2px;
	letter-spacing: 0em;
}

.atividade1 p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: rgb(255, 255, 255);
	font-style: normal;
	text-align: left;
	line-height: 20px;
	letter-spacing: 0em;
	padding-top: 15px;
	width: 40%;
	padding-bottom: 35px;
}

.atividade2 img{
	width: 100%;
	bottom: 25px;
}

.atividade2{
	display: flex;
	justify-content: center;
}

.oficina{
	position: relative;
	width: 22%;
}

.oficina div{
	position: absolute;
	width: 80%;
	height: 44%;
	top: 45%;
	left: 11%;
	border-bottom: solid #fff 8px;
}

.oficina h3{
	font-family: 'Catamaran', sans-serif;
	font-size: 20px;
	color: rgb(255,255,255);
	text-transform: uppercase;
	text-align: left;
	line-height: 26.4px;
	letter-spacing: 0em;
	margin-bottom: 13px;
}
.oficina p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	color: rgb(255,255,255);
	font-style: normal;
	text-align: left;
	line-height: 16.8px;
	letter-spacing: 0em;
}
.oficina ul li{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: rgb(255,255,255);
	text-transform: uppercase;
	text-align: left;
	line-height: 16.8px;
	letter-spacing: 0em;
	margin-left: 20px;
}

.contribua{
	background: url(assets/assets-03-desktop.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 210vh;
}

.galeria{
	display: flex;
	justify-content: center;
	align-items: baseline;
	flex-direction: column;
}
.cont-galeria{
	display: flex;
	/*flex-direction: row;*/
	justify-content: center;
}
.galeria h2{
	font-family: 'Catamaran', sans-serif;
	font-size: 26px;
	color: rgb(122, 5, 131);
	text-transform: uppercase;
	text-align: left;
	line-height: 31.2px;
	letter-spacing: 0em;
	margin-top: 100px;
	margin-left: 55px;
}

.div-galeria{
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	max-width: 90%;
} 

.div-galeria img{
	width: 17%;
	margin-top: 14px;
	margin-bottom: 14px;
	margin-left: 1%;
	margin-right: 1%;
}

.div-galeria::after {
	content: "";
	position: absolute;
  width: 40px;
  border-left: 35px solid transparent;
  border-right: 35px solid rgb(122, 5, 131);
  border-bottom: 35px solid transparent;
  border-top: 35px solid transparent;
  top: 20px;
  left: -70px;
}

.div-galeria::before {
	content: "";
	position: absolute;
  width: 40px;
  border-left: 35px solid rgb(122, 5, 131);;
  border-right: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-top: 35px solid transparent;
  top: 227px;
  right: -12px;
}

.div-contri{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-left: 50%;
	padding-top: 35%;
}

.div-contri h2{
	font-family: 'Catamaran', sans-serif;
	font-size: 26px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: left;
	line-height: 31.2px;
	letter-spacing: 0em;
	margin: 20px 20px;
}

.div-contri div{
	max-width: 70%;
	padding-left: 0;
}

.doemat{
	display: flex;
}

.doemat p{
	border-bottom: solid #fff 7px;
}

.doeali {
		font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: rgb(255, 255, 255);
	font-style: normal;
	text-align: center;
	line-height: 24px;
	letter-spacing: 0em;
	width: 70%;
}

.div-contri div p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: rgb(255, 255, 255);
	font-style: normal;
	text-align: left;
	letter-spacing: 0em;
	margin: 20px 20px;
}

.div-contri div p span {
	font-weight: bold;
}

footer{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	background: rgb(170, 68, 136);
	width: 100%;
	height: 10%;
}

footer .container {
	display: flex;
	max-width: 70%;
	margin: 0 auto;
}

footer ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	max-width: 20%;
	margin: 0 5%;
}

footer ul li{
	list-style: none;
}

footer img {
	width: 25%;
	min-width: 40px;
	padding: 2% 2%;
}

footer p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: rgb(255, 255, 255);
	font-style: normal;
	text-align: left;
	letter-spacing: 0em;
}
@media (max-width: 600px){
	
	header{
		display: flex;
		justify-content: center;
		width: 100%;

	}
	nav{
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 0;
	}
	nav ul {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 0;
	}
	nav ul li{
		margin: 2% 0;
	}
	.onda{
		/*width: 116%;*/
		display: none;
	}
	.ondamobile{
		display: block;
		width: 100%;
	}
	.logo{
		position: relative;
		width: 10%;
		margin-top: 50%;
	}
}