@import url('https://fonts.googleapis.com/css?family=Catamaran:300,900|Source+Sans+Pro');

html, body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
*, *:before, *:after{
	box-sizing: border-box;
	position: relative;
}
header{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:100%;
	min-height: 100vh;
	/*padding: 49px;*/
	background: url(assets/edit3.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	/*background-position: center;*/
}
nav{ 
	height: 22.8px;
	position: absolute;
	left: 25%;
	top: 20px;
}
nav ul{
	display: flex;
	justify-content: center;
	align-items: baseline;
}
nav ul li{
	display: inline;
	margin-left: 3%;
	margin-right: 3%;
	font-family: 'Catamaran', sans-serif;
	font-weight: 300;
	font-size: 19px;
	color: rgb(249, 249, 249);
	text-transform: uppercase;
	text-align: left;
	line-height: 22.8px;
	letter-spacing: 0em;
}

nav ul li:last-child{

	border-radius: 20px;
	border: solid rgb(249,249,249) 1px;
	padding: 10px;
}
.onda{
	width: 116%;
}

header h1 {
	position: absolute;
	font-family:'Catamaran', sans-serif;
	font-weight: 900;
	font-size: 26px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: left;
	line-height: 31.2px;
	letter-spacing: 0em;
	top: 470px;
	left: 750px;
}

header h2 {
	position: absolute;
	font-family:'Catamaran', sans-serif;
	font-size: 23px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: left;
	line-height: 27.6px;
	letter-spacing: 0em;
	top: 540px;
	left: 750px;
}

.logo{
	position: absolute;
	bottom: 20px;
	right: 3%;
	width: 9%;
}

main{
	display: flex;
	flex-direction: column;
}
.sobre{
	background: url(assets/assets-02-desktop.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.fundosobre{
	position: absolute;
}
.sobre h2{
	position: relative;
	font-family:'Catamaran', sans-serif;
	font-size: 26px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: left;
	line-height: 31.2px;
	letter-spacing: 0em;
	padding-top: 190px;
	left: 290px;
}

.sobre p {
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: rgb(255, 255, 255);
	font-style: normal;
	text-align: left;
	line-height: 24px;
	letter-spacing: 0em;
	padding-top: 10px;
	width: 31%;
	left: 290px;
}
section{
	min-height: 100vh;
}

.atividades{
	background: purple;
	display: flex;
	flex-direction: column;
}
.atividade1{
	position: relative;
	left: 29%;
	margin-top: 63px;
}
.atividade1 h2{
	font-family:'Catamaran', sans-serif;
	font-size: 26px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: left;
	line-height: 31.2px;
	letter-spacing: 0em;
}
.atividade1 p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: rgb(255, 255, 255);
	font-style: normal;
	text-align: left;
	line-height: 20px;
	letter-spacing: 0em;
	padding-top: 15px;
	width: 30%;
	padding-bottom: 35px;
}
.atividade1 img{
	width: 22%;
}

.atividade2{
	display: flex;
	justify-content: center;
}

.oficina{
	position: relative;
	width: 22%;
}

.oficina div{
	position: absolute;
	width: 80%;
	height: 44%;
	top: 250px;
	left: 30px;
	border-bottom: solid #fff 8px;
}

.oficina h3{
	font-family: 'Catamaran', sans-serif;
	font-size: 20px;
	color: rgb(255,255,255);
	text-transform: uppercase;
	text-align: left;
	line-height: 26.4px;
	letter-spacing: 0em;
	margin-bottom: 13px;
}
.oficina p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	color: rgb(255,255,255);
	font-style: normal;
	text-align: left;
	line-height: 16.8px;
	letter-spacing: 0em;
}
.oficina ul li{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: rgb(255,255,255);
	text-transform: uppercase;
	text-align: left;
	line-height: 16.8px;
	letter-spacing: 0em;
	margin-left: 20px;
}

.contribua{
	background: url(assets/assets-03-desktop.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 210vh;
}
.galeria{
	display: flex;
	justify-content: center;
	align-items: baseline;
	flex-direction: column;
}
.cont-galeria{
	display: flex;
	/*flex-direction: row;*/
	justify-content: center;
}
.galeria h2{
	font-family: 'Catamaran', sans-serif;
	font-size: 26px;
	color: rgb(122, 5, 131);
	text-transform: uppercase;
	text-align: left;
	line-height: 31.2px;
	letter-spacing: 0em;
	margin-top: 100px;
	margin-left: 55px;
}
.div-galeria{
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	/*justify-content: center;*/
	/*margin: 0 auto;*/
}
.div-galeria img{
	width: 17%;
	margin-top: 14px;
	margin-bottom: 14px;
	margin-left: 1%;
	margin-right: 1%;
	/*padding: 15px;*/
}
.next1{
	width: 3%;
	align-self: flex-start;
	margin-top: 10px;
}
.next2{
	width: 3%;
	transform: rotate(180deg);
	align-self: flex-end;
	margin-bottom: 10px;

}
.div-contri{
	/*left: 56%;*/
	position: relative;
	width: 520px;
	height: 450px;
	left: 640px;
	top: 430px;
}
.div-contri h2{
	font-family: 'Catamaran', sans-serif;
	font-size: 26px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: left;
	line-height: 31.2px;
	letter-spacing: 0em;
	left: 50px;
}
.div-contri div{
	position: absolute;
	/*width: 200px;
	height: 200px;*/
	margin: 20px;
	padding-left: 0;
	/*background: red;*/
}
.doemat{
	top: 25px;
	left: 30px;
	height: 170px;
	width: 180px;
	border-bottom: solid #fff 7px;
}
.doeali{
	top: 70px;
	left: 250px;
	height: 200px;
	width: 180px;
	border-bottom: solid #fff 7px;
}
.div-contri div p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: rgb(255, 255, 255);
	font-style: normal;
	text-align: left;
	/*line-height: 24px;*/
	letter-spacing: 0em;
	bottom: 0;
	top: 0;
	padding: 0;

}
.div-contri div p span {
	font-weight: bold;
}

.div-contri p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	color: rgb(255, 255, 255);
	font-style: normal;
	text-align: center;
	line-height: 24px;
	letter-spacing: 0em;
	position: absolute;
	bottom: 40px;
	padding: 0 10%;
}
footer{
	display: flex;
	bottom: 0px;
	background: purple;
	width: 100%;
	height: 107px;
}
footer img{
	width: 35px;
}
footer p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: rgb(255, 255, 255);
	font-style: normal;
	text-align: left;
	line-height: 16.8px;
	letter-spacing: 0em;
}