@import url(href="https://fonts.googleapis.com/css?family=Catamaran:300,900|Source+Sans+Pro" rel="stylesheet">);
* {
	margin: 0px;
	padding: 0px;
}

header{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 49px;
	background: url(fotos/nove.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
}
nav{
	height: 22.8px;
	position: absolute;
	left: 30%;
}
nav ul{
	display: flex;
	justify-content: center;
	align-items: baseline;
}
nav ul li{
	display: inline;
	margin-left: 3%;
	margin-right: 3%;
	font-family: 'Catamaran', sans-serif;
	font-size: 19px;
	color: rgb(249, 249, 249);
	text-transform: uppercase;
	text-align: left;
	line-height: 22.8px;
	letter-spacing: 0em;
}

nav ul li:last-child{

	border-radius: 20px;
	border: solid rgb(249,249,249) 1px;
	padding: 10px;
}
.onda{
	width: 116%;

}
header h1 {
	position: absolute;
	font-family:'Catamaran', sans-serif;
	font-size: 26px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: left;
	line-height: 31.2px;
	letter-spacing: 0em;
	top: 525px;
	left: 60%;
}

header h2 {
	position: absolute;
	font-family:'Catamaran', sans-serif;
	font-size: 23px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: left;
	line-height: 27.6px;
	letter-spacing: 0em;
	top: 595px;
	left: 60%;
}
main{
	/*position: relative;*/
	display: flex;
	flex-direction: column;
}
.sobre{
	/*position: absolute;*/
	background: url(assets/assets-02-desktop.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.fundosobre{
	position: absolute;
}
.sobre h2{
	position: relative;
	font-family:'Catamaran', sans-serif;
	font-size: 26px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	text-align: left;
	line-height: 31.2px;
	letter-spacing: 0em;
	padding-top: 190px;
	left: 320px;
}

.sobre p {
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: rgb(255, 255, 255);
	font-style: normal;
	text-align: left;
	line-height: 24px;
	letter-spacing: 0em;
	padding-top: 20px;
	width: 31%;
	left: 320px;
}
section{
	min-height: 100vh;
}

.atividades{
	background: purple;
	display: flex;
	flex-direction: column;
}

.atividade1{
	top: 63px;
}
.atividade1 img{
	width: 22%;
}

.atividade2{
	display: flex;

}

.oficina{
	position: relative;
	/*display: flex;*/
	/*position: relative;*/
	width: 22%;
	/*margin-left: 20px;*/
}

.oficina div{
	position: absolute;
	width: 80%;
	height: 40%;
	top: 250px;
	left: 30px;
	border-bottom: solid #fff 8px;
}

.oficina h3{
	font-family: 'Catamaran', sans-serif;
	font-size: 20px;
	color: rgb(255,255,255);
	text-transform: uppercase;
	text-align: left;
	line-height: 26.4px;
	letter-spacing: 0em;
	margin-bottom: 13px;
	/*margin-left: 20px;*/
}
.oficina p{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	color: rgb(255,255,255);
	font-style: normal;
	text-align: left;
	line-height: 16.8px;
	letter-spacing: 0em;
	/*margin-left: 20px;*/
}
.oficina ul li{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: rgb(255,255,255);
	text-transform: uppercase;
	text-align: left;
	line-height: 16.8px;
	letter-spacing: 0em;
	margin-left: 20px;
}

.galeria img{
	width: 100px;
	height: 160px;
}